<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WasteLesss Project - Order Items</title>
    <script defer src="js/orderItems.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <script>
      // Check if the user is logged in
      const token = localStorage.getItem("authToken");
    
      if (!token) {
        // Redirect to the login page if no token is found
        window.location.href = "./login.html";
      }
    </script>
    <script src="/js/global.js"></script>
  </head>

  <body>
    <div class="topnav">
      <a class="active" href="./login.html">Login</a>
      <a class="active" href="./index.html">Home</a>
      <a class="active" href="./inventory.html">Inventory</a>
      <a class="active" href="./companyDivision.html">Company Division</a>
      <a class="active" href="./vendor.html">Vendors</a>
      <a class="active" href="./agingInventory.html">Aging Inventory</a>
      <a class="active" href="./customer.html">Customer</a>
      <a class="active" href="./order.html">Order</a>
      <a class="active" href="./orderItems.html">Order Items</a>
      <a class="active" href="./location.html">Location</a>
      <a class="active" href="./shipping.html">Shipping</a>
      <button id="logout" class="logout-btn">Logout</button>
      <span id="username-display" class="username-display"></span>
    </div>
    <br />
    <div class="wrapper">
      <button id="getOrderItems" class="btn">Get Order Item</button>
      <div id="output"></div>
      <br />

      <h2>Order Items</h2>
      <form id="orderItemsForm" class="orderItems-form">
        <div class="input-box">
          <label for="orderItemID">Order Item ID (for update only):</label><input type="number" id="orderitemid"/></div>
        <div class="input-box"><label for="orderid">Order ID:</label><input type="text" id="orderid" required/></div>
        <div class="input-box"><label for="itemid">Item ID:</label><input type="text" id="itemid" required /></div>
        <div class="input-box"><label for="quantity">Quantity:</label><input type="text" id="quantity" required /></div>
        <button type="submit" class="btn" id="addUpdateBtn">Add Order Item</button>
        <br/>
        <br/>
        <button type="button" class="btn" id="patchBtn">Update Order Item</button>      
      </form>

      <div id="postResult"></div>
      <br />
      <!-- Delete Order Items Section -->
      <h2>Delete Order Item</h2> 
      <form id="deleteOrderItemsForm" class="deleteOrderItems-form">
      <div class="input-box">
      <label for="deleteOrderItemsId">Order Item ID (for delete only):</label>
      <input type="number" id="deleteOrderItemsId" />
      </div>
      <br/>
      <button type="submit" class="btn">Delete Order Item</button>
    </form>
    <br/>
    <div id="deleteResult"></div>
    <br />
    </div>
  </body>
</html>
